.image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

#img1 {
    filter: grayscale(100%);
}

#image2 {
    filter: blur(4px);
    transition: 0.5s;
}

#image2:hover {
    filter: unset;
}

#image3 {
    filter:sepia(50%) opacity(50%)
}

#image4 {
    filter: grayscale(50%) blur(50%);
}

@keyframes color-rotate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(300deg);
    }
}

#image4 {
    animation: color-rotate
    4s;
    animation-iteration-count: infinite;
}

#div1 {
    background-color: aqua;
    color: orange;
    width: 200px;
    height: 200px;
    filter: blur(4px);
}

#div2 {
    font-size: 60px;
    filter: drop-shadow(4px 10px 3px red);
}